<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Untitled Document</title>
	</head>
	<body>
		<h1>Welcome to our site, <%= @username%></h1>
		<p>
			You have successfully signed up to <b><%= @website%></b>, your username is: <%= @username%>.<br/>
		</p>
		<p>
			To login to the site, just follow this link: <%= @root_url%>.
		</p>
		<p>Thanks for joinig with us.</p>
	</body>
</html>
